/* Home */

p {
    margin: 0;
  }
  
  .clip-contents {
    overflow: hidden;
  }
  
  .home {
    position: relative;
    background: linear-gradient(0deg, rgba(48, 61, 60, 1), rgba(48, 61, 60, 1)),
      url(https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/6o5xp34susd-2%3A2?alt=media&token=0f6a2b68-d421-4f43-a3dc-7d9fa8f187e2),
      linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    background-size: 100% 100%;
    width: 1080px;
    height: 3365px;
  }
  
  
  .ellipse-1 {
    border: 5px solid rgba(242, 222, 222, 1);
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(16, 207, 219, 1),
      0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px rgba(23, 181, 232, 1);
    width: 30px;
    border-radius: 15px;
    margin-right: 12px;
    height: 30px;
    position: absolute;
    left: 30px;
    top: 30px;
  }
  
  .ellipse-2 {
    border: 5px solid rgba(242, 222, 222, 1);
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(16, 207, 219, 1),
      0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px rgba(23, 181, 232, 1);
    width: 30px;
    border-radius: 15px;
    height: 30px;
    position: absolute;
    left: 35px;
    top: -5px;
  }
  
  .ellipse-3 {
    border: 5px solid rgba(242, 222, 222, 1);
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(16, 207, 219, 1),
      0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px rgba(23, 181, 232, 1);
    width: 30px;
    border-radius: 15px;
    margin-right: 12px;
    position: absolute;
    height: 30px;
    left: -6px;
    top: 30px;
  }
  
  .ellipse-4 {
    border: 5px solid rgba(242, 222, 222, 1);
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(16, 207, 219, 1),
      0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px rgba(23, 181, 232, 1);
    width: 30px;
    border-radius: 15px;
    height: 30px;
    position: absolute;
    left: 36px;
    top: -5px;
  }
  
  .user {
    width: 100px;
    height: 100%;
    position: relative;
    left: 920px;
    top: -15px;
  }
  .logo-wip-1 {
    position: absolute;
    top: -30px;
    left: 341px;
    width: 327px;
    height: 136px;
  }

  .group-1 {
    position: absolute;
    top: 2035px;
    left: 881px;
    width: 145px;
    height: 145px;
  }
.bar {
  display: flex;
}
 .rect {
    /* Rectangle 2 */
 position: absolute;
  width: 1080px;
  height: 161px;
  left: -35px;
  top: 2239px;
  background: #112523;
  /* shadow thingys */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 15px rgba(0, 0, 0, 0.32);
  border-radius: 35px 35px 0px 0px;
}
.home_button{
  /* Ellipse 2 */
position: absolute;
width: 181px;
height: 181px;
left: 414px;
top: 2217px;
background: #3D4F4C;
border-radius: 50%;
/* Sjabble button shadowy thingy */
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 15px rgba(0, 0, 0, 0.75);
}
.homeimg {
  position: absolute;
  width: 140px;
  height: 140px;
  left: 435px;
  top: 2239px;
}
.mapimg {
  position: absolute;
  width: 110.5px;
  height: 105px;
  left: 220.75px;
  top: 2260.5px;
}
.gamesimg {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 691.5px;
  top: 2263.5px;
}
  /*.bottom-bar {
    position: absolute;
    top: 2217px;
    left: 0px;
    height: 183px;
    width: 100%;
  }*/
  