/* Home */
@font-face {
    font-family: Museo Sans;
    src: url(assets/MuseoSans-100.otf);
    font-weight: 100;
  }
  @font-face {
    font-family: Museo Sans;
    src: url(assets/MuseoSans-300.otf);
    font-weight: 300;
  }
  @font-face {
    font-family: Museo Sans;
    src: url(assets/MuseoSans-500.otf);
    font-weight: 500;
  }
  @font-face {
    font-family: Museo Sans;
    src: url(assets/MuseoSans-700.otf);
    font-weight: 700;
  }
  @font-face {
    font-family: Museo Sans;
    src: url(assets/MuseoSans-900.otf);
    font-weight: 900;

  }
p {
    margin: 0;
  }
a{
    text-decoration: none;
}
  
  .clip-contents {
    overflow: hidden;
  }
  
  #popout{
    position: absolute;
    display: none;
  }
  
  .rectangle{
    position: absolute;
    left: 0px;
    top: 105px;
    width: 225px;
    height: 2105px;
    background: #112523;
    border-radius: 0px 97px 97px 0px;
  }
  .calendar{
    position: absolute;
    width: 110.5px;
    height: 105px;
    left: 45px;
    top: 240px;
  }
  .settings{
    position: absolute;
    width: 110.5px;
    height: 105px;
    left: 45px;
    top: 470px;
  }
  .bell{
    position: absolute;
    width: 110.5px;
    height: 105px;
    left: 45px;
    top: 700px;
  }

  .home {
    position: relative;
    background: linear-gradient(0deg, rgba(48, 61, 60, 1), rgba(48, 61, 60, 1)),
      url(https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/6o5xp34susd-2%3A2?alt=media&token=0f6a2b68-d421-4f43-a3dc-7d9fa8f187e2),
      linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    background-size: 100% 100%;
    width: 1080px;
    height: 2400px;
  }
  
  
  .ellipse-1 {
    border: 5px solid rgba(242, 222, 222, 1);
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(16, 207, 219, 1),
      0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px rgba(23, 181, 232, 1);
    width: 30px;
    border-radius: 15px;
    margin-right: 12px;
    height: 30px;
    position: absolute;
    left: 30px;
    top: 30px;
  }
  
  .ellipse-2 {
    border: 5px solid rgba(242, 222, 222, 1);
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(16, 207, 219, 1),
      0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px rgba(23, 181, 232, 1);
    width: 30px;
    border-radius: 15px;
    height: 30px;
    position: absolute;
    left: 35px;
    top: -5px;
  }
  
  .ellipse-3 {
    border: 5px solid rgba(242, 222, 222, 1);
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(16, 207, 219, 1),
      0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px rgba(23, 181, 232, 1);
    width: 30px;
    border-radius: 15px;
    margin-right: 12px;
    position: absolute;
    height: 30px;
    left: -6px;
    top: 30px;
  }
  
  .ellipse-4 {
    border: 5px solid rgba(242, 222, 222, 1);
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(16, 207, 219, 1),
      0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px rgba(23, 181, 232, 1);
    width: 30px;
    border-radius: 15px;
    height: 30px;
    position: absolute;
    left: 36px;
    top: -5px;
  }
  
  .user {
    width: 100px;
    height: 100%;
    position: relative;
    left: 920px;
    top: -15px;
  }
  .logo-wip-1 {
    position: absolute;
    top: -30px;
    left: 341px;
    width: 327px;
    height: 136px;
  }

  .group-1 {
    position: absolute;
    top: 2035px;
    left: 881px;
    width: 145px;
    height: 145px;
  }

.pic{
      /* Ellipse 2 */
    position: absolute;
    width: 350px;
    height: 350px;
    left: 314px;
    top: 174px;
    background: #b0d1cc;
    border-radius: 50%;
}
.more{
    position: absolute;
    top: 150px;
    left: 650px;
}
.name {
    /* TheDoctor14 */
    position: absolute;
    width: 293px;
    height: 58px;
    left: 334px;
    top: 548px;
    font-family: 'Museo Sans';
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    color: #FFFFFF;
}
.rname{
        position: absolute;
        width: 293px;
        height: 58px;
        left: 0px;
        top: 615px;
        font-family: 'Museo Sans';
        font-weight: 500;
        font-size: 36px;
        line-height: 58px;
        color: #FFFFFF;
        min-width: 450px;
}
.age{
    position: absolute;
    width: 293px;
    height: 58px;
    left: 895px;
    top: 615px;
    font-family: 'Museo Sans';
    font-weight: 500;
    font-size: 36px;
    line-height: 58px;
    color: #FFFFFF;
    min-width: 450px;
}
.neonbar{
    position: absolute;
    width: 293px;
    height: 58px;
    left: 150px;
    top: 700px;
    font-family: 'Museo Sans';
    font-weight: 500;
    font-size: 48px;
    min-width: 1000px;
}
.nbarimg{
    position: absolute;
    left: -165px;
    top: -30px;
}
.current{
    position: absolute;
    left: -80px;
    color: #FFFFFF;
}
.past{
    position: absolute;
    left: 450px;
    color: #FFFFFF;
}

.event_new{
position: absolute;
width: 913px;
height: 250px;
left: 50px;
top: 873px;
background: #656565;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 15px rgba(0, 0, 0, 0.75);
border-radius: 43px;
}
.event_old{
    position: absolute;
    width: 913px;
    height: 250px;
    left: 50px;
    top: 1173px;
    background: #656565;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 15px rgba(0, 0, 0, 0.75);
    border-radius: 43px;
    }
.Cafe{
    position: absolute;
    width: 674.01px;
    height: 120px;
    left: 30px;
    top: 25px;
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
}
.adress{
    position: absolute;
    width: 605px;
    height: 39px;
    left: 30px;
    top: 155px;
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 45px;
    line-height: 85%;
    color: #FFFFFF;
    min-width: 500px;
}
.time{
    position: absolute;
    width: 605px;
    height: 39px;
    left: 650px;
    top: 155px;
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 45px;
    line-height: 85%;
    color: #FFFFFF;
}
.bar {
  display: flex;
}
.rect {
    /* Rectangle 2 */
 position: absolute;
  width: 1080px;
  height: 161px;
  left: 0px;
  top: 2231px;
  background: #112523;
  /* shadow thingys */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 15px rgba(0, 0, 0, 0.32);
  border-radius: 35px 35px 0px 0px;
}
.home_button{
  /* Ellipse 2 */
position: absolute;
width: 181px;
height: 181px;
left: 449px;
top: 2213px;
background: #3D4F4C;
border-radius: 50%;
/* Sjabble button shadowy thingy */
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 15px rgba(0, 0, 0, 0.75);
}
.homeimg {
  position: absolute;
  width: 140px;
  height: 140px;
  left: 470px;
  top: 2236px;
}
.mapimg {
  position: absolute;
  width: 110.5px;
  height: 105px;
  left: 255.75px;
  top: 2256.5px;
}
.gamesimg {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 726.5px;
  top: 2259.5px;
}
  /*.bottom-bar {
    position: absolute;
    top: 2217px;
    left: 0px;
    height: 183px;
    width: 100%;
  }*/
  